# Virtual environments
.venv/
.venv*/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python testing/cache
.pytest_cache/
.coverage
htmlcov/

# Secrets / environment variables
.env
.env.*

# Logs
*.log

# Temporary files
*.tmp
*.temp